<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~emkl21/editor/browser

  # If a file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule . /~emkl21/editor/browser/index.html [L]
</IfModule>
