@import "../../styles.scss";


button {
    background-color: $warm-orange;
    color: #fff;
    border: none;
    height: 2rem;
    min-width: 3rem;
    font-size: 1.6rem;
    border-radius: .3rem;
    margin: 0 .7rem;
}
