<nav>
	<ul>
		<li>
			<a [routerLink]="['/document', 'all']">Menu</a>
			<ul class="dropdown">
				<li><a [routerLink]="['/']">Home</a></li>
				<li><a [routerLink]="['/document', 'all']">Documents</a></li>
			</ul>
		</li>
	</ul>
	<app-document-create></app-document-create>
	<!-- <div class="navbar-content" style="text-align: center;">
		<app-user-profile></app-user-profile>
	  </div> -->
	  <div *ngIf="user">
		<p>Logged in as: {{ user.email }}</p>
		<app-logout></app-logout>
	</div>
</nav>
<!-- <app-logout></app-logout> -->
