
/* You can add global styles to this file, and also import other style files */
$light-tan: #CA9F62;
$tan: #A08968;
$warm-orange: #F5AF4E;
$grayish-brown: #756D60;
$dark-brown: #483924;
$deep-brown: #332B21;

body {
    font-size: 16px;

    /* Define base font size */
}

h1 {
    font-size: 2rem;
    /* Two times the base font size */
}

p {
    font-size: 1.2rem;
    /* 1.2 times the font size of the parent element */
}

textarea {
    font-size: 1.1rem;
}
